{% extends 'base.html.twig'%} 
{% block content %}	

<!-- Font Icon -->
<link rel="stylesheet" href="{{asset('Post/fonts/material-icon/css/material-design-iconic-font.min.css')}}">

<!-- Main css -->
<link rel="stylesheet" href="{{asset('Post/css/style.css')}}">

	
	<div class="contact-map-area">
		<div class="map-area" >

			<div id="map"></div>

		</div>
	</div>	
	
	<!-- contact wrapper -->
	<div class="contact-page-wrapper">
		<div class="containero-cause">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-sm-4 widget">
							<h4>Adress</h4>
							<i class="fa fa-map-marker"></i>
							<p>Adress no. 29, Some Street, Some Country</p>
						</div>
						<div class="col-sm-4 widget">
							<h4>Phone</h4>
							<i class="fa fa-phone"></i>
							<p>+40 712 345 678</p>
							<p>+40 712 345 876</p>
						</div>
						<div class="col-sm-4 widget">
							<h4>E-mail</h4>
							<i class="fa fa-envelope"></i>
							<p>spam.Kindness@mail.com</p>
							<p>spam.Kindness@mail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="comment-form-wrapper contact-from clearfix">
						<div class="widget-title ">
							<h4>DITES-NOUS BONJOUR</h4>
							<p>Toute l'équipe de FundINI vous écoutes</p>
						</div>
						<form action="{{ path('app_contact_mail') }}"   method="POST" class="comment-form row altered">
							<div class="field col-sm-4">
								<h4>Nom</h4>
								<input type="text" name="name">
							</div>
							<div class="field col-sm-4">
								<h4>E-mail</h4>
								<input type="email" name="email">
							</div>
							<div class="field col-sm-4">
								<h4>Sujet</h4>
								<input type="text" name="sujet">
							</div>
							<div class="field col-sm-12">
								<h4>Message</h4>
								<textarea name="message"></textarea>
							</div>
							<div class="field col-sm-4">
								<button class="btn btn-big btn-solid"><i class="fa fa-paper-plane"></i><span>Envoyer Message</span></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}